/* ::::: http://ms0.meituan.net/mywww/common.dce64fb8.css ::::: */

html { font-family: sans-serif; }
body { margin: 0px; }
audio:not([controls]) { display: none; height: 0px; }
a { background-color: transparent; }
a:active, a:hover { outline-width: 0px; }
h1 { font-size: 2em; margin: 0.67em 0px; }
img { border-style: none; }
svg:not(:root) { overflow: hidden; }
button, input, select, textarea { font: inherit; margin: 0px; }
button, input { overflow: visible; }
button, select { text-transform: none; }
[type="reset"], [type="submit"], button, html [type="button"] {  }
[type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner, button::-moz-focus-inner { border-style: none; padding: 0px; }
[type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring, button:-moz-focusring { outline: 1px dotted buttontext; }
[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0px; }
[type="search"] { outline-offset: -2px; }
.footer { background-color: rgb(38, 36, 38); padding: 56px 0px; margin: 82px auto 0px; min-width: 1200px; visibility: hidden; }
.footer p { margin: 0px; padding: 0px; text-align: center; font-size: 14px; line-height: 20px; }
.footer p, .footer p a { color: rgb(102, 102, 102); }
.footer .friendly-links a { color: rgb(239, 66, 56); }
.footer .friendly-links a:hover { text-decoration: underline; }
.friendly-links span { display: inline-block; border-left: 1px solid rgb(68, 68, 68); margin: 0px 7px; height: 12px; position: relative; top: 1px; }
body { font-family: Microsoft YaHei,Helvetica,Arial,sans-serif; background-color: rgb(255, 255, 255); }
a { text-decoration: none; }
a:focus, div:focus, input:focus { outline: medium none; }
.clearfix::after, .clearfix::before { content: " "; display: table; }
.clearfix::after { clear: both; }
.header form, .header h3, .header input, .header li, .header ul { padding: 0px; margin: 0px; list-style: outside none none; border: medium none; }
.header { position: fixed; top: 0px; z-index: 999; width: 100%; min-width: 1200px; background-color: rgb(255, 255, 255); border-bottom: 1px solid rgb(216, 216, 216); }
.header .header-inner { width: 1200px; margin: 0px auto; height: 80px; }
.header-placeholder { height: 81px; }
.header .logo { float: left; width: 133px; height: 80px; background: transparent url('undefined') no-repeat scroll 0px center / contain ; }
.header .nav { display: inline-block; background-color: rgb(255, 255, 255); overflow: hidden; margin-left: 40px; float: left; }
.header .nav .navbar li { float: left; }
.header .nav .navbar li a { text-align: center; display: inline-block; height: 80px; line-height: 80px; width: 80px; font-size: 18px; color: rgb(51, 51, 51); }
.header .nav .navbar li a:hover { color: rgb(239, 66, 56); }
.header form { float: right; margin: 20px 10px 0px 0px; position: relative; }
.header form input { box-sizing: border-box; }
.header form .search { display: inline-block; height: 40px; line-height: 1.2; width: 260px; padding: 0px 40px 0px 20px; border: 1px solid rgb(204, 204, 204); font-size: 14px; border-radius: 30px; background-color: rgb(250, 248, 250); overflow: hidden; color: rgb(51, 51, 51); }
.header form .submit { display: inline-block; position: absolute; left: 220px; top: 0px; height: 40px; width: 40px; background-color: rgb(239, 66, 56); border-radius: 30px; background-image: url('undefined'); cursor: pointer; }
.header .user-info { float: right; position: relative; z-index: 9999; height: 100%; }
.header .user-info .user-avatar { display: block; border-width: medium 1px; border-style: none solid; border-color: -moz-use-text-color transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; padding: 0px 10px; width: 56px; height: 100%; }
.header .user-info .user-avatar img { margin-top: 20px; width: 40px; height: 40px; border-radius: 50%; cursor: pointer; }
.header .user-info .user-avatar .caret { position: absolute; top: 39px; right: 10px; }
.header .user-info .user-avatar:hover { border-color: rgb(216, 216, 216); }
.header .user-info .user-avatar:hover .caret { transform: rotate(180deg); }
.header .user-info .user-avatar:hover .user-menu { display: block; }
.header .user-info .user-avatar:hover::after { content: " "; position: absolute; height: 10px; bottom: -1px; left: 1px; right: 1px; background-color: rgb(255, 255, 255); }
.header .user-info .user-menu { display: none; position: absolute; right: 0px; top: 80px; border: 1px solid rgb(216, 216, 216); min-width: 76px; max-width: 114px; background-color: rgb(255, 255, 255); font-size: 14px; color: rgb(51, 51, 51); line-height: 40px; text-align: right; }
.header .user-info .user-menu li > a { color: rgb(153, 153, 153); display: block; padding: 0px 10px; word-break: keep-all; white-space: nowrap; overflow: hidden; width: 90px; text-overflow: ellipsis; }
.header .user-info .user-menu li > a:hover { color: rgb(239, 66, 56); }
.header .user-info .user-menu li.text { padding: 0px 10px; word-break: keep-all; white-space: nowrap; text-overflow: ellipsis; overflow: hidden; }
.header .user-info .login-name a { color: rgb(236, 68, 63) ! important; }
.header .user-info .login-name a:hover { text-decoration: underline; }
.city-container { position: relative; float: left; margin: 0px 8px; height: 100%; }
.city-container .city-selected { cursor: pointer; height: 100%; padding: 0px 10px; border-style: solid; border-color: transparent; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 1px; z-index: 101; }
.city-container .city-name { display: inline-block; margin-top: 32px; color: rgb(51, 51, 51); }
.city-container .city-list { background-color: rgb(255, 255, 255); border: 1px solid rgb(216, 216, 216); position: absolute; z-index: 100; width: 478px; height: 330px; overflow-y: scroll; left: 0px; top: 80px; display: none; }
.city-container .city-list .city-list-header { padding-left: 20px; line-height: 58px; border-bottom: 1px solid rgb(229, 229, 229); margin-bottom: 10px; }
.city-container .city-list .city-list-header a { cursor: pointer; }
.city-container .city-list ul li { line-height: 30px; }
.city-container .city-list ul li span { margin-left: 20px; width: 20px; text-align: center; float: left; vertical-align: top; display: block; background-color: rgb(238, 238, 238); font-weight: 700; line-height: 20px; margin-top: 5px; }
.city-container .city-list ul li div { margin-left: 40px; display: block; margin-bottom: 10px; }
.city-container .city-list ul li div a { display: inline-block; line-height: 24px; margin-top: 3px; padding: 0px 5px; text-align: center; cursor: pointer; }
.city-container .city-list ul li div a:hover { background-color: rgb(239, 66, 56); color: rgb(255, 255, 255); }
.city-container.active::after { content: " "; position: absolute; height: 10px; bottom: -1px; left: 1px; right: 1px; background-color: rgb(255, 255, 255); z-index: 200; }
.caret { display: inline-block; width: 0px; height: 0px; margin-left: 2px; vertical-align: middle; border-top: 5px dashed rgb(102, 102, 102); border-right: 5px solid transparent; border-left: 5px solid transparent; transition: all 0.2s ease 0s; }
.container { width: 1200px; margin: 0px auto; }
.suggest-body::after { display: block; content: ""; clear: both; }
.app-download { float: right; width: 132px; height: 80px; margin-right: 10px; position: relative; }
.app-download a { display: block; padding-top: 28px; padding-left: 14px; width: 100%; height: 100%; box-sizing: border-box; border-left: 1px solid transparent; border-right: 1px solid transparent; }
.app-download a .iphone-icon { float: left; display: inline-block; width: 15px; height: 24px; background-image: url('undefined'); background-size: cover; }
.app-download a .apptext { float: left; display: inline-block; font-size: 16px; color: rgb(0, 0, 0); height: 24px; line-height: 24px; margin: 0px 7px; }
.app-download a .caret { float: left; position: relative; top: 8px; }
.app-download a .download-icon { display: none; width: 130px; height: 165px; position: absolute; left: 0px; top: 80px; background-color: rgb(255, 255, 255); background-image: url('app-link-icon.3bc8fd38f5eb0cfcf9909122baaaa720.png'); background-position: 24px 14px; background-size: 82px 82px; background-repeat: no-repeat; border-width: 0px 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(220, 212, 215) rgb(220, 212, 215); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; }
.app-download a .download-icon p { text-align: center; font-size: 14px; color: rgb(153, 153, 153); margin: 0px; }
.app-download a .download-icon .down-title { margin-top: 115px; margin-bottom: 3px; color: rgb(0, 0, 0); }
.app-download a:hover { border-left: 1px solid rgb(220, 212, 215); border-right: 1px solid rgb(220, 212, 215); }
.app-download a:hover .download-icon { display: block; }
.app-download a:hover .caret { transform: rotate(180deg); }
/* ::::: http://ms0.meituan.net/mywww/profile-profile.e839eca6.css ::::: */

.cropper-center::after, .cropper-center::before { position: absolute; display: block; content: " "; background-color: rgb(238, 238, 238); }
.cropper-center::before { top: 0px; left: -3px; width: 7px; height: 1px; }
.cropper-center::after { top: -3px; left: 0px; width: 1px; height: 7px; }
.cropper-point.point-se::before { position: absolute; right: -50%; bottom: -50%; display: block; width: 200%; height: 200%; content: " "; opacity: 0; background-color: rgb(51, 153, 255); }
.ui-select { display: inline-block; background: transparent none repeat scroll 0% 0%; border: 1px solid rgb(153, 153, 153); border-radius: 0px; font-size: 14px; height: 30px; position: relative; }
.ui-select::after { content: ""; width: 0px; height: 0px; border-left: 5px solid transparent; border-right: 5px solid transparent; border-top: 5px solid rgb(153, 153, 153); position: absolute; top: 13px; right: 3px; z-index: -1; }
.ui-select select { padding: 0px 20px 0px 10px; width: 100%; border: medium none; box-shadow: none; -moz-appearance: none; }
.ie8 .ui-select::after, .ie9 .ui-select::after { display: none ! important; }
.content { overflow: hidden; margin-top: 30px; }
.main { padding: 0px 18px; }
.main h1 { color: red; }
.info-content .user-profile-nav { float: left; width: 200px; background-color: rgb(244, 243, 244); height: 900px; text-align: center; border: 1px solid rgb(225, 225, 225); }
.info-content .user-profile-nav h1 { margin-top: 40px; font-size: 22px; color: rgb(34, 34, 34); font-weight: 400; }
.info-content .user-profile-nav p { margin-top: 30px; font-weight: 400; color: rgb(255, 255, 255); background-color: rgb(237, 57, 49); height: 40px; line-height: 40px; font-size: 18px; }
.info-content .profile-container { float: left; padding-left: 50px; width: 900px; overflow: hidden; border-top: 1px solid rgb(225, 225, 225); border-right: 1px solid rgb(225, 225, 225); border-bottom: 1px solid rgb(225, 225, 225); height: 900px; }
.info-content .profile-container .profile-title { height: 80px; color: rgb(236, 68, 63); font-size: 18px; line-height: 90px; border-bottom: 1px solid rgb(225, 225, 225); margin-bottom: 60px; }
.img-cropper { width: 524px; height: 550px; position: fixed; top: 100px; z-index: 1001; display: none; left: 0px; margin: 5% auto; right: 0px; }
.img-cropper .img-cropper-container { background-color: rgb(255, 255, 255); z-index: 1001; }
.img-cropper .img-cropper-container .img-cropper-header { box-sizing: border-box; height: 50px; background-color: rgb(235, 235, 235); font-size: 16px; padding: 16px; color: rgb(51, 51, 51); }
.img-cropper .img-cropper-container .img-cropper-header .close-icon { cursor: pointer; position: relative; display: inline-block; width: 20px; height: 20px; overflow: hidden; float: right; }
.img-cropper .img-cropper-container .img-cropper-header .close-icon::before { transform: rotate(45deg); }
.img-cropper .img-cropper-container .img-cropper-header .close-icon::after { transform: rotate(-45deg); }
.img-cropper .img-cropper-container .img-cropper-header .close-icon::after, .img-cropper .img-cropper-container .img-cropper-header .close-icon::before { content: ""; position: absolute; width: 100%; top: 50%; left: 0px; background: rgb(0, 0, 0) none repeat scroll 0% 0%; height: 1px; margin-top: 0px; }
.img-cropper .img-cropper-container .img-cropper-content { text-align: center; width: 100%; height: 100%; display: flex; -moz-box-pack: center; justify-content: center; -moz-box-align: start; align-items: flex-start; margin-top: 30px; }
.img-cropper .img-cropper-container .img-cropper-content .img-main { display: inline-block; position: relative; border: 1px solid rgb(229, 229, 229); width: 350px; height: 350px; }
.img-cropper .img-cropper-container .img-cropper-content .img-main .img-main-wrapper { max-width: 300px; max-height: 300px; float: left; }
.img-cropper .img-cropper-container .img-cropper-content .img-main .img-main-wrapper img { max-width: 100%; }
.img-cropper .img-cropper-container .img-cropper-content .img-preview { display: inline-block; vertical-align: top; border: 1px solid rgb(229, 229, 229); margin-left: -1px; width: 102px; height: 350px; padding-left: 10px; }
.img-cropper .img-cropper-container .img-cropper-content .img-preview p { font-size: 12px; color: rgb(51, 51, 51); margin-bottom: 6px; }
.img-cropper .img-cropper-container .img-cropper-content .img-preview .img-preview-block { width: 80px; height: 80px; border: 1px solid rgb(51, 51, 51); overflow: hidden; }
.img-cropper .img-cropper-container .img-cropper-footer { margin-top: 20px; padding: 0px 30px 30px; text-align: right; }
.img-cropper .img-cropper-container .img-cropper-footer .img-btn-cancel, .img-cropper .img-cropper-container .img-cropper-footer .img-btn-confirm { display: inline-block; height: 34px; width: 72px; font-size: 16px; text-align: center; line-height: 34px; border-radius: 5px; cursor: pointer; }
.img-cropper .img-cropper-container .img-cropper-footer .img-btn-confirm { cursor: pointer; color: rgb(255, 255, 255); background-color: rgb(237, 57, 49); }
.img-cropper .img-cropper-container .img-cropper-footer .img-btn-cancel { color: rgb(0, 0, 0); background-color: rgb(235, 235, 235); }
.body-mask { z-index: 1000; display: none; }
.body-mask::before { content: ""; position: fixed; top: 0px; left: 0px; bottom: 0px; right: 0px; background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%; z-index: 1000; }
.userexinfo-form { float: left; width: 495px; margin-left: 58px; }
.userexinfo-form p { position: absolute; top: 0px; left: 0px; width: 80px; text-align: right; color: rgb(51, 51, 51); padding: 0px; margin: 0px; }
.userexinfo-form .radio-first { margin-left: 0px ! important; }
.userexinfo-form input[type="radio"] { margin-left: 12px; }
.userexinfo-form .userexinfo-form-section:first-child { margin-top: 0px; }
.userexinfo-form .userexinfo-form-section { color: rgb(102, 102, 102); position: relative; margin: 20px 0px; padding-left: 90px; height: 30px; line-height: 30px; font-size: 14px; }
.userexinfo-form .userexinfo-form-section p { font-size: 16px; }
.userexinfo-form .userexinfo-form-section input[type="text"] { width: 240px; font-size: 12px; height: 30px; padding-left: 10px; }
.userexinfo-form .userexinfo-form-section input[type="checkbox"] { display: none; }
.userexinfo-form .userexinfo-form-section .interest-list { font-size: 14px; width: 300px; }
.userexinfo-form .userexinfo-form-section .bottom-tips { white-space: nowrap; color: rgb(204, 204, 204); }
.userexinfo-form .userexinfo-form-section .ui-checkbox + label { padding-left: 20px; background: transparent url('undefined') no-repeat scroll 0px center; display: inline-block; }
.userexinfo-form .userexinfo-form-section .ui-checkbox:checked + label { padding-left: 20px; background: transparent url('undefined') no-repeat scroll 0px center; display: inline-block; }
.userexinfo-form .expand-list { height: 110px; }
.userexinfo-form .form-save-btn { cursor: pointer; border-radius: 5px; margin-top: 40px; width: 100px; height: 40px; color: rgb(255, 255, 255); font-size: 18px; line-height: 40px; border: medium none; background-color: rgb(237, 57, 49); padding: 0px; }
.avatar-container { text-align: center; float: left; color: rgb(51, 51, 51); background: rgb(255, 255, 255) none repeat scroll 0% 0%; width: 270px; }
.avatar-container .avatar-content img { width: 258px; height: 258px; }
.avatar-container .upload-avatar-image { position: relative; cursor: pointer; }
.avatar-container .upload-avatar-image .upload-btn { cursor: pointer; margin: 20px auto 0px; width: 182px; height: 56px; line-height: 56px; color: rgb(91, 91, 91); background-color: rgb(230, 230, 230); border-radius: 10px; border: 1px none; font-size: 18px; padding: 0px; }
.avatar-container .upload-avatar-image #fileUpload { position: absolute; top: 0px; right: 0px; opacity: 0; bottom: -50px; direction: ltr; font-size: 200px ! important; cursor: pointer; }
.avatar-container .tips { margin-top: 10px; color: rgb(153, 153, 153); font-size: 18px; line-height: 30px; }
.date-picker span { display: inline-block; }
@font-face {
	font-family: "stonefont";
	src: url('6eb4cadaab49d9173ab2ae91164b12713168.eot') format("embedded-opentype"), url('0e14d21c7edd074fca8615767a96bd682088.woff') format("woff");
}
