/* Code tidied up by ScrapBook */
.table-section { margin: 0px 0px 10px; font-size: 12px; background: rgb(255, 255, 255) none repeat scroll 0% 0%; overflow: hidden; }
.table-section table { width: 100%; border: 1px solid rgb(229, 229, 229); text-align: center; }
.table-section table td, .table-section table th { padding: 12px; border-bottom: 1px dotted rgb(229, 229, 229); }
.table-section table th { padding: 6px 12px; border-bottom-style: solid; font-size: 14px; font-weight: 700; text-align: center; background: rgb(247, 247, 247) none repeat scroll 0% 0%; }
.table-section table td { background: rgb(255, 255, 255) none repeat scroll 0% 0%; }
.table-section table .op .order-cancel, .table-section table .op .order-delete, .table-section table .op .refund { color: rgb(43, 184, 170); background: transparent none repeat scroll 0px 0px; border: 0px none; cursor: pointer; }
.table-section table .op .order-cancel:hover, .table-section table .op .order-delete:hover, .table-section table .op .refund:hover { text-decoration: underline; }
.pg-xorders .table-section .inline-link { line-height: 27px; }
.component-order-nav::after, .side-nav__list .current a::after, .side-nav__list a::before, .side-nav__list dd::after { content: ""; }
.order-nav-sprite, .side-nav__list .current a::after, .side-nav__list .current a::before, .side-nav__list .header-item .header-item__current a::before, .side-nav__list .hightlight, .side-nav__list a::before, .side-nav__list a:hover::before { background-image: url("_004.png"); background-repeat: no-repeat; }
.component-order-nav::after { position: absolute; right: 0px; top: 0px; bottom: 0px; width: 5px; background-size: 100% auto; background-image: linear-gradient(to right, rgb(246, 246, 246), rgb(249, 249, 249)); }
.side-nav__list { position: relative; z-index: 2; padding: 5px 0px 0px; }
.side-nav__list dd, .side-nav__list dt { padding: 0px; }
.side-nav__list dt { padding: 10px 35px 7px; border-top: 1px solid rgb(255, 255, 255); color: rgb(102, 102, 102); }
.side-nav__list .header-item { height: 42px; }
.side-nav__list .header-item li { color: rgb(43, 184, 170); font-size: 14px; }
.side-nav__list .header-item strong { color: rgb(102, 102, 102); }
.side-nav__list .header-item a { padding: 15px 10px 10px 32px; }
.side-nav__list .header-item a::before { left: 20px; top: 23px; }
.side-nav__list .first-item { border-top: medium none; }
.side-nav__list dd { position: relative; padding-bottom: 10px; }
.side-nav__list dd::after { position: absolute; bottom: 0px; left: 0px; height: 1px; width: 159px; background: rgb(238, 238, 238) none repeat scroll 0% 0%; }
.side-nav__list a { position: relative; display: block; padding: 5px 35px 5px 45px; color: rgb(102, 102, 102); }
.side-nav__list a::before { position: absolute; left: 35px; top: 13px; width: 3px; height: 3px; background-position: 0px -22px; }
.side-nav__list a:hover { color: rgb(43, 184, 170); text-decoration: none; }
.side-nav__list a:hover::before { background-position: 0px -16px; }
.side-nav__list li { color: rgb(222, 222, 222); font-size: 12px; }
.side-nav__list .last { border-bottom: medium none; }
.side-nav__list .last::after { height: 0px; }
.side-nav__list .current { color: rgb(255, 255, 255); }
.side-nav__list .current a { position: relative; background: rgb(43, 184, 170) none repeat scroll 0% 0%; color: rgb(255, 255, 255); }
.side-nav__list .current a::after { background-position: 0px 0px; position: absolute; right: 20px; top: 11px; width: 5px; height: 10px; }
.side-nav__list .current a::before { background-position: 0px -10px; }
.side-nav__list .common-badge { margin-left: 5px; }
@-moz-document url-prefix("") {
  .side-nav__list li { list-style: outside none none; }
}
